---

- name: "rcconf: Enable and start named."
  when: bsd_named_enable
  lineinfile:
    dest: /etc/rc.conf
    regexp: "^\\s*named_enable\\s*="
    line: "named_enable=\"YES\""
    backup: "{{ bsd_named_backup_conf }}"
  notify: enable and start named

- name: "rcconf: Disable and stop named."
  when: not bsd_named_enable
  lineinfile:
    dest: /etc/rc.conf
    regexp: "^\\s*named_enable\\s*="
    line: "named_enable=\"NO\""
    backup: "{{ bsd_named_backup_conf }}"
  notify: disable and stop named

- name: "rcconf: Configure named."
  when: bsd_named_enable
  lineinfile:
    dest: /etc/rc.conf
    regexp: "^\\s*{{ item.key }}\\s*="
    line: "{{ item.key }}=\"{{ item.val }}\""
    backup: "{{ bsd_named_backup_conf }}"
  loop: "{{ bsd_named_rcconf }}"
  notify: restart named

# EOF
...
