zone "{{ item.zone }}" {
	type {{ item.type }};
	masters { {{ item.masters }} };
	allow-notify { {{ item.masters }} };
	key-directory "{{ bsd_named_conf_keys }}";
	auto-dnssec maintain;
	inline-signing yes;
	file "{{ bsd_named_conf_path }}/{{ item.type }}/{{ item.zone }}.bk";
};
