zone "{{ item.zone }}" {
	type {{ item.type }};
{% for option in item.options|d({}) %}
	{{ option.key }} {{ option.val }};
{% endfor %}
{% if item.allow_transfer|d([])|length > 0 %}
	allow-transfer  {
	{% for host in item.allow_transfer %}
	{{ host }};
	{% endfor %}
	};
{% endif %}
	file "{{ bsd_named_conf_path }}/{{ item.type }}/{{ item.zone }}{{ bsd_named_zone_signed }}";
};
