zone "{{ item.zone_in }}.IN-ADDR.ARPA" {
	type {{ item.type }};
{% if item.masters|d([])|length > 0 %}
	masters {
	{% for host in item.masters %}
	{{ host }};
	{% endfor %}
	};
{% endif %}
	file "{{ bsd_named_conf_path }}/{{ item.type }}/{{ item.zone_in }}.IN-ADDR.ARPA";
};
